<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Register</strong>
    </h5>

    <div class="card-body px-lg-5 pt-0">

        <form class="md-form" style="color: #757575;margin-top:25px;" [formGroup]="registerForm" (ngSubmit)="onRegister()">

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="firstname" autocomplete="off" formControlName="firstname" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" id="lastname" autocomplete="off" formControlName="lastname" class="form-control" placeholder="Last name">
                </div>
            </div>
            <input type="text" formControlName="username" id="username" autocomplete="off" class="form-control" placeholder="UserName">
            <input type="email" formControlName="email" id="email" autocomplete="off" class="form-control" placeholder="Email">
            <input type="password" formControlName="password" id="password" autocomplete="off" class="form-control" placeholder="Password">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>

            <input type="text" id="phone" autocomplete="off" formControlName="phone" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>
            <!--<div class="d-flex align-items-center justify-content-between">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                    <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                </div>
                <div>
                    <a href="">Forgot password?</a>
                </div>
            </div>-->
            

            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Register</button>
        </form>
    </div>
</div>