<body id="page-top">
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <!-- Header -->
 <header class="masthead">
   
  <div class="container-fluid">
          <div class="row">
          <div class="col-md-12">
    <div class="intro-text">
      <div class="intro-lead-in animated fadeInLeftBig">Welcome To World of Movies!!!</div>
     
      <div class="intro-heading text-uppercase ml-3 animated slideInRight delay-2s">MAGIC...IS WHAT THEY ARE..</div>
      <div class="row" style="margin-bottom:25px;">
        <div class="col-md-7" style="text-align: right;">
          <h1 class="service-heading text-uppercase animated fadeIn delay-4s">MOVIES MAKE YOU...</h1>
        </div>
        <div class="col-md-5 " style="text-align: left;">
          <h1 class="service-heading text-uppercase">
          <span class="block" [@wordUpdated]="word">
            <span class="span" *ngFor="let word of [ word ]">
              {{ word }}
            </span>
          </span></h1>
        </div>
      </div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger btn peach-gradient waves-effect waves-light" [routerLink]="['/dashboard']">Enter</a>
    </div></div>
   
  </div>
  
  </div>
</header>

<!-- Services -->
<section class="page-section" id="categories">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">CATEGORIES</h2>
        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 animated slideInLeft">
          <fa-icon  [icon]="faVoteYea" size="3x" [styles]="{'stroke': 'white', 'color': '#8b0000'}" ></fa-icon>
        <h4 class="service-heading">New Releases</h4>
        <p class="text-muted" style="font-size: larger;">Comprehensive list of Upcoming Movies with Release Dates & Latest Trailers for New  Movies.</p>
        <a class="btn btn-primary text-uppercase js-scroll-trigger" [routerLink]="['/dashboard']">View</a>
      </div>
      <div class="col-md-4 animated fadeIn">
        <fa-icon  [icon]="faStar" size="3x" [styles]="{'stroke': 'white', 'color': '#8b0000'}" ></fa-icon>
        <h4 class="service-heading">Most Rated</h4>
        <p class="text-muted" style="font-size: larger;">Comprehensive list of highly rated movies as voted and suggested by our customers.</p>
        <a class="btn btn-primary text-uppercase js-scroll-trigger" [routerLink]="['/home']">View</a>
      </div>
      <div class="col-md-4 animated slideInRight">
        <fa-icon  [icon]="faGlasses" size="3x" [styles]="{'stroke': 'white', 'color': '#8b0000'}" ></fa-icon>
        <h4 class="service-heading">Trending</h4>
        <p class="text-muted" style="font-size: larger;">Comprehensive list of popular and recently viewed movies by our customers.</p>
        <a class="btn btn-primary text-uppercase js-scroll-trigger" [routerLink]="['/home']">View</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-light page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Me</h2>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-4 col-md-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">
            <h4>Hello, I'm Saurav</h4>
            <p class="text-muted">Designer/ Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item ml-2 animated slideInLeft">
                <a href="#">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
              </li>
              <li class="list-inline-item ml-2 animated slideInDown">
                <a href="#">
                  <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
              </li>
              <li class="list-inline-item ml-2 animated slideInRight">
                <a href="#">
                  <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-6">
  
<div class="card testimonial-card home-testimonial-card animated zoomIn">

     
      <div class="card-up red-gradient"></div>
    
    
      <div class="avatar mx-auto white">
        <img src="assets\images\dashboard\me.jpg" class="rounded-circle-card testimonial-card-img" alt="woman avatar">
      </div>
    
     
      <div class="card-body" style="color:black;">
       
        <h4 class="card-title">Saurav Bishai</h4>
        <hr>
        
        <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
      </div>
    
    </div>
   
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="page-section" id="portfolio">
      <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Portfolio</h2>
      <h5 class="mt-4"><b>Technology : </b><span class="medium text-muted">Angular 8, BootStrap,HTML5,CSS3</span></h5>
      <h5 class="mt-4"><b>Github Link : </b><span class="medium text-muted">https://github.com/savz-z/spring-boot-jwt</span></h5>
<div class="row">
<div class="col-lg-8 mx-auto text-center mt-4">
  <p class="large text-muted">Angular is one of the most popular Javascript frameworks in the world for building modern web applications. Angular is created & developed by Google and has huge community support behind it.
    I made my Personal Portfolio Using Angular 8. Though I have used Angular8 there is not much different in other versions of angular</p>
    </div>
</div>
</div>
</div>
</div>
  </section>
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Me</h2>
          <h3 class="section-subheading text-muted">Reach me on email.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>