<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
        </div>
        </div>
        </div>