/* You can add global styles to this file, and also import other style files */

img {
    border-style: solid !important;
    border: 10px solid beige;
    height:300px;
    width:320px;
}

.carousel-control-prev{
    width: 75px !important;
}
.carousel-control-next{
    width: 75px !important;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header {
    margin: -6rem 0 -1rem;
    box-shadow: none;
}
.modal-dialog.cascading-modal.modal-avatar {
    margin-top: 6rem;
}

.rounded-image-modal {
    
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    
}
.modal-dialog.cascading-modal .modal-header{
    border:none;
}

.md-form label {
    top: 0;
    left: 0;
    font-size: 1rem;
    color: #757575;
    cursor: text;
    transition: transform .2s ease-out,color .2s ease-out;
    transform: translateY(12px);
    transform-origin: 0 100%;
}
.md-form input[type=password]{
    box-sizing: content-box !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.modal-abc{
    background-color: white !important;
    border : 1px solid transparent !important;
    border-radius: 30px;
}
.modal-content{
    background-color: transparent !important;
    border : none !important;
}
.btn.aqua-gradient {
    color: #fff;
    transition: .5s ease;
}
.aqua-gradient {
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
}

.btn.btn-cyan {
    color: #fff;
    background-color: #00bcd4!important;
}

.carousel-inner{
    width:90% !important;
    top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

.btn-floating {
    background: #4285f4;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}
.btn-floating {
    position: absolute;
    top:0;
    bottom: 0;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 15px !important;
    height: 15px !important;
    margin: 15px !important;
}
.multi-carousel-left{
    left:0;
    margin: auto;
}

.multi-carousel-right{
    right:0;
    margin: auto;
}

.btn-outline-white {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
}
.btn.btn-md {
    padding: .7rem 1.6rem;
    font-size: .7rem;
    border-radius: .125rem;
}
.btn{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card.card-image {
    width: 100%;
    background-position: center;
    background-size: cover;
}
.jumbotron {
    position:relative;
    overflow:hidden;
  }
  
  .jumbotron .container {
    position:relative;
    z-index:2;
    
    background:rgba(0,0,0,0.2);
    padding:2rem;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
  }
  
  .jumbotron-background {
    object-fit:cover;
    background-size: cover;
    font-family: 'object-fit: cover;';
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
    opacity:0.3;
  }
  
  img.blur {
      -webkit-filter: blur(4px);
      filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  
  }
  .login-modal{
      background-color: lightyellow;
  }
  .info-color {
    background-color: #33b5e5 !important;
}
.md-form .form-control {
    height: auto;
    padding: .6rem 0 .4rem 0;
    margin: 0 0 .5rem 0;
    background-color: transparent;
    border-radius: 0;
}
.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}
.form-check-input[type="checkbox"]+label, label.btn input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    height: 1.5625rem;
    padding-left: 35px;
    line-height: 1.5625rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-text-custom {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    color: #fff;
}

.aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.red-gradient {
    background: linear-gradient(40deg, #6e1111, #e06d6d) !important;
}

.purple-gradient {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.peach-gradient {
    background: linear-gradient(40deg, #dddc87, #d81717) !important;
}

.youtube-gradient{
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sublime-vivid-gradient{
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

