<div class="container-fluid" *ngIf="movie">

    <div class="row">
        <div class="col-md-12">
  <div class="jumbotron jumbotron-fluid bg-dark  mt-2">
  
    <div class="jumbotron-background" [ngStyle]="{'background-image': 'url('+ movie.moviepath + ')'}">
    </div>
    <div class="row movie-container">
        <div class="col-md-6 ">
            <div class="card mb-2" style="width: 85%;border-radius:20px;">
                <img class="card-img-top" style="border-radius:20px;" src="{{movie.moviepath}}" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-text">Release Date : {{formatDate(movie.releasedate)}}</h6>
                  
                </div>
              </div>
              <div class="card mb-2 movie-synopsis-heading" style="width: 85%;border-radius:20px;">
                 <div class="card-body">
                  <div class="card-text  mt-2 mb-2">{{movie.synopsis}}</div>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="movie-heading text-uppercase mt-3 mr-4 animated slideInRight">{{movie.moviename}}</div>
            <div class="movie-section-heading text-uppercase mt-3 mr-4 animated slideInRight">Director : {{movie.director}}</div>
            <div class="movie-section-heading text-uppercase mt-3 mr-4 animated slideInRight">Producer : {{movie.producer}}</div>
            <div class="movie-section-heading text-uppercase mt-3 mr-4 animated slideInRight">Writer   : {{movie.writer}}</div>
            <div class="movie-section-heading text-uppercase mt-3 mr-4 animated slideInRight">Duration : {{movie.duration}} minutes</div>
            <div class="movie-section-heading text-uppercase mt-3 mr-4 animated slideInRight">
                <fa-icon  [icon]="faStar" size="1x" [styles]="{'stroke': 'black', 'color': 'yellow'}" ></fa-icon><span class="ml-4 mr-2">8.1</span>
                <a class="btn btn-xl text-uppercase js-scroll-trigger btn youtube-gradient waves-effect waves-light mt-2" style="width:50%;font-weight:600;float:right" (click)="openModal(movie.moviename,movie.moviepath)">VOTE</a>  </div>
                <div class="movie-section-heading text-uppercase mt-3 mr-4 animated slideInRight">
                  <a class="btn btn-xl text-uppercase js-scroll-trigger btn youtube-gradient waves-effect waves-light mt-2" data-toggle="modal" style="width:50%;font-weight:600;float:right" data-target="#myModal">trailer</a>
                  </div>
              </div>       

          </div>
   
  </div>

  <div class="row mt-2">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-12">
                  <h3 class="text-left">
                      CAST
                  </h3>
              </div>
      </div>

  </div>
</div>

<div class="container-fluid mt-5">

    <div class="row">
        <div class="col-md-12">
                <div *ngIf="movie.actors">
            <app-actor-carousel [slides]="movie.actors" [itemsPerSlide]="itemsPerSlide" [slideInterval]="interval">
            </app-actor-carousel>
            </div>
  
        </div>
    </div>
  </div>
    </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content" style="background-color: black !important;">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="color: white;">{{movie.moviename}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <div class="embed-responsive embed-responsive-21by9">
                {{movie.trailerurl}}
                <iframe class="embed-responsive-item" [src]="sanitizer.bypassSecurityTrustResourceUrl(movie.trailerurl)" allowfullscreen></iframe>
              </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>
    </div>

  

   