<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #792c2c;">
           
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="navbar-nav">
              <li class="nav-item">
              <a class="navbar-brand"  [ngClass]="{'navbar-brand': true}" href="#" [routerLink]="['/home']">HOME</a>
              <fa-icon [icon]="faAngleDoubleRight" size="1x" [styles]="{'stroke': 'white', 'color': '#ffffff'}" *ngIf="homebreadcrumb"></fa-icon>
              </li>
            <li class="nav-item" >
               <a  [ngClass]="{'nav-link ml-2': true,'active': dbactive}" href="#" [routerLink]="['/dashboard']" > Dashboard </a>
               <fa-icon [icon]="faAngleDoubleRight" size="1x" [styles]="{'stroke': 'white', 'color': '#ffffff'}" *ngIf="dbbreadcrumb"></fa-icon>
            </li>
            <li class="nav-item" [ngClass]="{'active' :moviebreadcrumb === 'true'}">
               <a [ngClass]="{'nav-link ml-2': true,'active': movieactive}" href="#">Movie</a>
               <fa-icon [icon]="faAngleDoubleRight" size="1x" [styles]="{'stroke': 'white', 'color': '#ffffff'}" *ngIf="moviebreadcrumb"></fa-icon>
            </li>
            <li class="nav-item">
              <a [ngClass]="{'nav-link ml-2': true,'active': actoractive}" href="#">Actor<span class="sr-only">(current)</span></a>
           </li>
          </ul>
          <ul class="navbar-nav ml-md-auto">
              <li class="nav-item">
                      <span class="navbar-text-custom" *ngIf="userLoggedIn">Welcome {{loggedInUser}}</span>
              </li>
          <li class="nav-item active mr-4 mt-1">
                  
                  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-secondary" *ngIf="!userLoggedIn" (click)="openLogin()">Login</button>
                          <button type="button" class="btn btn-secondary" *ngIf="!userLoggedIn" (click)="openRegistration()">Register</button>
                          <button type="button" class="btn btn-secondary" *ngIf="userLoggedIn">Logout</button>
                        </div>
              
          </li>
          <li class="nav-item">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="text" /> 
              <button class="btn btn-primary my-2 my-sm-0" type="submit">
                Search
              </button>
            </form></li>
      </ul>
        </div>
      </nav>